.apps__list-wrapper {
  display: block;
  width: 320px;
  margin: 0 auto;
}

.apps__list {
  .reset;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;

  padding: 0 57px;
  margin-bottom: 24px;
}


.apps__item {
  justify-content: flex-end;
}

.apps__link {
  font-size: 0;
}

.apps__slogan {
  .reset;
  display: none;
  font-family: "OpenSanslight", "Arial", sans-serif;
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .apps__slogan {
    display: block;
    .reset;

    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: @white;
    margin-bottom: 30px;
  }

  .apps__list {
    margin-top: 50px;
    margin-bottom: 32px;
  }
}

@media (min-width: @desktop-width) {
  .apps__slogan {
    font-size: 50px;
    margin-top: 20px;
  }

  .apps__list {
    margin-top: 70px;
  }
}
