.comment-gallery {
  color: @cosmos;
  background-color: @grey;
  margin-bottom: 20px;
  // padding-left: 17px;
  // padding-right: 17px;
  // padding-bottom: 20px;
}

// .comment-gallery__header {
//   padding-top: 15px;
// }

.comment-gallery__author {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 14px;
  text-align: left;
  line-height: 24px;
  font-weight: 700;
}

.comment-gallery__time-ago {
  font-family: "OpenSanslignt", "Arial", sans-serif;
  font-size: 12px;
  text-align: left;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 300;
}

.comment-gallery__content {
  .reset();
  font-family: "OpenSanslignt", "Arial", sans-serif;
  font-size: 14px;
  text-align: left;
  line-height: 24px;
  font-weight: 300;

  flex-grow: 1;

  // margin-bottom: 5px;
}

.comment-gallery__like {
  background: url("/img/icon-heart.svg") no-repeat 50% 50%;
  border: none;
  width: 13px;
  height: 12px;

  margin-right: 15px;
}

.comment-gallery__like-wrapper {
  margin-bottom: 23px;
}

.comment-gallery__like-count {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;

  color: @pink;
}

@media (min-width: @tablet-width) {
  .comment-gallery {
    display: flex;
    flex-direction: column;
  }

  .comment-gallery__header {
    // padding-top: 21px;

    &--panorama {
      order: 1;

      padding-top: 20px;
    }
  }

  .comment-gallery__like-wrapper {
    display: inline-block;

    &--panorama {
      order: 2;

      margin-top: 26px;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 124px;
    }
  }

  .comment-gallery__like-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .comment-gallery__like {
    margin-right: 0;
  }

  .comment-gallery__content--panorama {
    order: 3;
  }

  .comment-gallery {
    height: 135px;
    // width: auto;

    &--panorama {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 27px;
      margin-bottom: 68px;
      height: auto;
    }
  }
}
