.comment-gallery {
    &__author {
        font-family: "OpenSansBold", sans-serif;
        font-size: 14px;
        text-align: left;
        line-height: 24px;

        color: @cosmos;
    }

    &__time-ago {
        font-family: "OpenSanslignt", sans-serif;
        font-size: 12px;
        text-align: left;
        line-height: 24px;
        text-transform: uppercase;

        color: @cosmos;
    }

    &__content {
        font-family: "OpenSanslignt", sans-serif;
        font-size: 12px;
        text-align: left;
        line-height: 24px;

        color: @cosmos;
    }

    &__like {
        background: url(../../img/icon-heart.svg) no-repeat 50% 50%;
        border: none;
        width: 13px;
        height: 12px;
        fill: @pink;
    }

    &__like-count {
        font-family: "OpenSans", sans-serif;
        font-size: 12px;
        line-height: 24px;
        text-transform: uppercase;

        color: @pink;
    }
}