.contacts {
  width: 280px;
  margin: 0 auto;
  padding-top: 50px;
}

.contacts__slogan {
  .reset();

  font-family: "OpenSanslight", "Arial", sans-serif;
  font-size: 24px;
  text-align: center;

  color: @cosmos;
}

.contacts__list-wrapper {
  display: flex;
  justify-content: center;
}

.contacts__list {
  .reset();
  text-align: center;
  margin-top: 44px;
}

.contacts__list b {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 18px;
  text-align: center;
  color: @cosmos;
}

.contacts__list p {
  .reset();
  font-family: "OpenSanslight", "Arial", sans-serif;
  font-size: 24px;
  text-align: center;

  color: @pink;
}

.contacts__list li {
  margin-bottom: 20px;
}
