.content__apps {
  background-color: @nightblue;
}

.content__wrapper {
  background: url(/img/bg-back-mobile@1x.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.content__phone {
  display: block;
  bottom: 0;
}

.content__description {
  .reset;
  font-size: 14px;
  line-height: 24px;
  color: @white;
  text-align: center;

  padding-bottom: 36px;
}
