.feature {
    .reset;
    background-color: @grey;    

    &__item {           
        text-align: center;
    }

    &__header {
        font-family: "OpenSansBold", serif;
        font-size: 18px;
        line-height: 24px;

        color: @black;
    }

    &__description {
        font-family: "OpenSans", serif;
        font-size: 14px;
        line-height: 24px;

        color: @cosmos;
    }

    &__image {
        display: block;
        margin: auto;
    }

}