.filter {
  width: 100%;
  margin: 0 auto;

  background-color: @grey;
}

.filter__wrapper {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}

.filter__wrapper img {
  margin-top: 20px;
  margin-bottom: 40px;
}

.filter__list {
  .reset();
  padding: 0 17px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 104px;

  border-bottom: 1px solid @grey;
}

.filter__item:last-child {
  padding-right: 2px;
}

.filter__item:hover {
  opacity: 0.5;
}

.filter__item {
  position: relative;
  width: 48px;
  fill: @cosmos;
  opacity: 0.3;

  &--active {

    fill: @pink;
    opacity: 1;
  }

  &--active:hover {
    opacity: 1;
  }
}



.filter__range {
  display: none;

  &--active {
    position: absolute;
    top: 84px;
    left: 50%;
    margin-left: -38px;
    display: block;
    width: 240px;
    z-index: 1;
  }

  &--active path {
    fill: #ffffff;
  }
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  cursor: pointer;
  background: @cosmos;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;

  height: 15px;
  width: 15px;
  margin-top: -6px;

  border: 2px solid @pink;
  border-radius: 50%;
  background: @white;
  cursor: pointer;
  &:active,
  &:focus {
    background: @pink;
  }
}

input[type=range]::-moz-range-track {
  height: 2px;
  cursor: pointer;
  background: @cosmos;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;

  height: 15px;
  width: 15px;
  margin-top: -6px;

  border: 2px solid @pink;
  border-radius: 50%;
  background: @white;
  cursor: pointer;
  &:active,
  &:focus {
    background: @pink;
  }
}

input[type=range]::-ms-thumb {
  -ms-progress-appearance: none;

  height: 15px;
  width: 15px;
  margin-top: -6px;

  border: 2px solid @pink;
  border-radius: 50%;
  background: @white;
  cursor: pointer;
  &:active,
  &:focus {
    background: @pink;
  }
}

input[type=range]::-ms-track {
  height: 2px;
  cursor: pointer;
  background: @cosmos;
  border-color: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
  color: transparent;
}






