.form-wrapper {
  width: 280px;
  margin: 0 auto;
}

.form-wrapper {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;

  padding-top: 45px;
  padding-bottom: 45px;

  color: @cosmos;
}
