.gallery__intro-wrapper {
  text-align: center;
  margin-top: 53px;
  margin-bottom: 58px;
}

.gallery__intro {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;

  color: @cosmos;
}

.gallery__list {
  .reset;
}

.gallery__photo {
  margin: auto 20px;
}
