.gallery__wrapper {
  width: 320px;
  margin: 0 auto;
}

.gallery__intro-wrapper {
  text-align: center;
  margin-top: 53px;
  margin-bottom: 58px;
}

.gallery__intro {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;

  color: @cosmos;
}

.gallery__list {
  .reset;
}

.gallery__photo {
  margin: auto 20px;
  vertical-align: top;
}

.gallery__popular::before {
  content: "Панорама дня";
  position: absolute;

  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;


  width: 140px;
  height: 30px;

  top: 0;
  right: 20px;

  background-color: @pink;
  color: @white;
}

@media (min-width: @tablet-width) {
  .gallery__photo-popular {
    height: 509px;
  }

  .gallery__popular::before {
    top: 57px;
  }
}
