.main-nav__header {
  display: flex;
  justify-content: space-between;
  min-height: 70px;

  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav {
  position: relative;
  margin-bottom: -70px;
}

.main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 20px;
  z-index: 2;

  display: block;
  width: 60px;
  height: 30px;

  cursor: pointer;
  border: none;
  outline: none;

  background: none;

  &:hover,
  &:active {
    color: @pink;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 19px;
  right: 10px;
  left: auto;

  &::before,
  &::after {
    content: "";
    position: absolute;

    top: 12px;
    right: 6px;

    width: 30px;
    height: 5px;

    background-color: @white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: #d22856;
  }

  &:active::before,
  &:active::after {
    background-color: #d22856;
    opacity: 0.3;
  }
}

.page-header .main-nav--closed {
  position: absolute;
  width: 100%;
}

.main-nav--opened .main-nav__header {
  background-color: @cosmos;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 3px;
  right: 5px;

  width: 50px;
  height: 4px;

  background-color: @white;
  box-shadow: 0 11px 0 0 @white, 0 21px 0 0 @white;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: #d22856;
  box-shadow: 0 11px 0 0 #d22856, 0 21px 0 0 #d22856;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: #d22856;
  box-shadow: 0 11px 0 0 #d22856, 0 21px 0 0 #d22856;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    margin-bottom: -110px;

    &--index {
      margin-bottom: 0;
    }
  }

  .main-nav__toggle {
    top: 36px;
  }

  .main-nav__header {
    min-height: 110px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header .main-nav--closed {
    position: absolute;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .main-nav__header {
    background-color: transparent;
  }

  .page-header__link {
    margin-left: 0;
    margin-top: 27px;
  }

  .main-nav__list {
    .reset();
    z-index: 1;
  }

  .site-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    background: none;
  }

  .site-list__item a {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;

    padding: 0;
    padding-top: 46px;
    padding-bottom: 46px;

    background: none;
    border: none;
  }
}
