.page-footer {
  display: none;

  &--inner-page {
    display: block;
  }
}

.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  height: 240px;
  margin-bottom: 20px;
}

.page-footer__social {
  .reset();
  display: flex;
  justify-content: center;
}

.page-footer__social-item a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 46px;

  margin-right: 10px;

  border: 3px solid @cosmos-opacity10;
  border-radius: 50%;

  &:hover {
    border: 3px solid @cosmos;
  }

  &:active {
    opacity: 0.3;
    border: 3px solid @cosmos-opacity10;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
}

.page-footer__developed-by {
  .reset();
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @cosmos;
  text-align-last: left;
}

.page-footer__developed-by-link {
  width: 27px;
  height: 34px;

  margin-left: 15px;
  margin-top: 8px;

  fill: @cosmos;

  &:hover path {
    fill: @cosmos;
  }

  &:active path {
    fill: @cosmos-opacity30;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: block;
  }

  .page-footer__wrapper {
    width: 620px;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 13px;
    padding-bottom: 50px;
    margin-top: 0;
    height: auto;
  }

  .page-footer__logo {
    margin-top: -15px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 940px;
    height: 1px;
    margin-top: 0;
    padding-top: 105px;
    padding-bottom: 70px;
  }

  .page-footer__developed-by {
    font-size: 18px;
  }

  .page-footer__social {
    margin-left: 30px;
  }
}
