footer {
  display: none;
}

@media (min-width: @desktop-width) {
  footer {
    display: block;
  }

  .page-footer__wrapper {
    width: 940px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__social {
    .reset();
    display: flex;    
  }

  .page-footer__social-item {
    margin-right: 30px;
  }

  .page-footer__copyright {
    display: flex;
    align-items: center;
  }
}