.page-photo__wrapper {
  background: url(/img/bg-back-mobile@1x.jpg) no-repeat 50% 50%;
}

.page-photo__header {
  .reset;
  font-family: "OpenSanslight", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: @white;

  padding: 34px 0 85px;
}
