.price {
  background-color: @grey;
  overflow: hidden;
}

.price__wrapper {
  width: 280px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price__list {
  width: 840px;
  border-collapse: collapse;
  background-color: @white;
  border: 2px solid @grey;

  & tr td:first-child {
    display: none;
  }
}

.price__list td {
  border: 2px solid @grey;
  width: 280px;
}

.price__name {
  .reset();
  text-align: left;
}

.price__field {
  position: relative;
  padding-left: 15px;

  height: 50px;
}

.price__field svg {
  position: absolute;
  right: 20px;
  top: 15px;
  }

.price__tariff {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  padding: 18px 0px;

  color: @white;
  background-color: @cosmos;

}

.price__tariff span {
  font-family: "OpenSanslight", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.price__tariff--hit {
  position: relative;
  background: url("../img/bg-hit.svg") no-repeat 0px 0px;
  background-color: @cosmos;
}

.price__hit {
  position: absolute;

  top: 5px;
  left: 8px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;

  transform: rotate(-45deg);
}


@media (min-width: @tablet-width) {
  .price__toggles {
    display: none;
  }

  .price__wrapper {
    width: 620px;
    padding: 50px 0px;
    padding-top: 90px;
  }

  .price__list {
    display: table;
    width: auto;
    position: relative;

    & tr td:first-child {
      display: table-cell;
    }
  }

  .price__list td {
    width: 140px;
    height: auto;
    font-size: 14px;
    padding: 6px 12px 8px;
  }

  .price__list tr:first-child td {
    padding: 8px 0px;
  }

  .price__name {
    display: none;
  }

  .price__field svg {
    right: 60px;
    top: 8px;
  }

  .price__list tr:first-child td:first-child {
    background-color: @grey;
  }

  .price__tariff--hit {
    position: relative;
    background: url("../../img/bg-hit-tablet.svg") no-repeat 0px 0px;
    background-color: @cosmos;
  }

  .price__hit {
    top: -2px;
    left: 4px;
  }
}

@media (min-width: @desktop-width) {
  .price__wrapper {
    width: 940px;
    padding: 50px 0px;
    padding-top: 90px;
  }

  .price__list td {
    width: 210px;
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 14px;
    padding-left: 22px;
  }

  .price__list tr:first-child td {
    padding: 16px 0px;
  }

  .price__field svg {
    right: 103px;
    top: 22px;
  }

  .price__tariff--hit {
    position: relative;
    background: url("../../img/bg-hit.svg") no-repeat 0px 0px;
    background-color: @cosmos;
  }

  .price__hit {
    top: 3px;
    left: 10px;
  }
}


