.promo {
  overflow: hidden;
}

.promo__slogan-wrapper {
  padding-top: 42px;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.promo__slogan {
  .reset;
  font-family: "OpenSanslight", "Arial", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-weight: 400;

  color: @cosmos;


  &:nth-child(2) {
    margin-top: 30px;
  }
}

.promo__slogan br {
  display: none;
}

@media (min-width: @tablet-width) {
  .promo__slogan-wrapper {
    width: 620px;
    padding-top: 50px;
  }

  .promo__slogan {
    font-size: 40px;
    line-height: 47px;

    &:nth-child(2) {
      margin-top: 0;
    }
  }

  .promo__slogan br {
    display: inline;
  }
}
