.promo__slogan {
  .reset;
  font-family: "OpenSanslight", "Arial", sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: 400;

  color: @cosmos;
  margin-top: 36px;
  margin-bottom: 78px;
}

.promo__slogan-wrapper {
  width: 280px;
  margin: 0 auto;
}
