.slogan {
  width: 280px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 50px;
}

.slogan__intro {
  display: block;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;

  color: @cosmos;
}
