.button {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;

  display: block;
  position: relative;
  width: 294px;
  left: 50%;
  margin-left: -148px;
  padding-top: 13px;
  padding-bottom: 17px;
  border-radius: 50px;

  &--ellipse {
    margin-bottom: 31px;

    color: @white;
    border: 3px solid @white;
  }
}

@media (min-width: @tablet-width) {
  .button--ellipse {
    margin-top: 25px;
  }
}

@media (min-width: @desktop-width) {
  .button--ellipse {
    margin-top: 80px;
  }
}
