.button {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;

  display: block;
  position: relative;
  width: 280px;
  left: 50%;
  margin-left: -140px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50px;

  &--ellipse {
    margin-bottom: 31px;

    color: @white;
    border: 3px solid @white;
  }
}
